.nav.contact-me {
    background-color: #0F172B;

    .contact-me.nav-row {
        text-indent: 1em;
        line-height: 4em;
    }

    .nav-row {
        i[class*="fa-caret"] {
            align-self: center;
            text-indent: 1em;
        }
    }

    a:hover,
    a:active,
    a:focus {
        border-radius: .5em;
        background-color: #314158;
    }
}

.nav.contact-me>ul {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.contacts,
.find-me-also-in {
    display: flex;
    flex-direction: column;
}