.content>.form,
.form>div[class*='-wrapper'] {
    display: flex;
    flex-direction: column;
}

.form {
    gap: 2em;
    padding: 2em;
}

div[class*='-wrapper'] {
    gap: 1em;
}

label,
input,
textarea {
    color: #90A1B9;
}

.input-wrapper {
    /* padding: 0 1em; */
    position: relative;
    background-color: #020618;
    border-radius: .5em;
    line-height: 2em;

    input,
    textarea {
        background-color: #020618;
        min-width: 100%;
        padding: 0 1em;
        border-radius: .5em;
        line-height: 2em;
    }
}

.button {
    cursor: pointer;
    padding: 1em;
    border-radius: .5em;
    max-width: fit-content;
}

.button.disabled {
    pointer-events: none;
    background-color: #314158;
}

.button.enabled {
    background-color: #FFD6A7;
    color: #020618;
}

.error-text,
.exclamation {
    color: #FB2C36;
}

.check {
    color: #15f00e;
}

input.error-field {
    background-color: #1F1221;
    border-color: #FB2C36;
}

.exclamation,
.check {
    position: absolute;
    right: .5em;
}

.icon {
    position: absolute;
    right: .5em;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
}

.exclamation::after {
    content: '\f06a';
}

.check::after {
    content: '\f058';
}