span[class*="-icon-container"] {
    display: flex;
    align-items: center;
    height: 1.5em;
    width: auto;
}

svg[class*="-icon"] {
    display: block;
    height: 100%;
    width: auto;
}

.github-icon {
    margin-left: .2em;
    margin-right: .7em;
}

svg.expressjs-icon,
svg.handlebars-icon,
svg.mongoosejs-icon {
    background-color: #314158;
}