.navbar>ul {
    display: flex;
    flex-direction: column;

    .link>span:hover,
    .link>span:active {
        color: #fff;
    }

    li.logo-wrapper>ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    li.row span {
        cursor: pointer;
    }

    li.row:not(:last-child) {
        border-bottom: 1px solid #b1b1b1;
    }

    li.logo>span,
    li.heading,
    li.close-button>i {
        color: #90A1B9;
        margin: 2em;
    }

    li.link {
        padding: 2em 4em;
    }

    li.logo:hover>a,
    li.logo:active>a,
    li.close-button>i:active,
    li.close-button>i:hover {
        color: #fff;
    }

    li.close-button>i {
        cursor: pointer;
    }
}