.content {
    background-color: #020618;
    padding: 1em .5em;
}

.nav>ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    padding: .5em;
}
