.content {
    background-color: #020618;
    padding: 1em .5em;
}

.nav>ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    padding: .5em;
}

span[class*="-icon-container"] {
    display: flex;
    align-items: center;
    height: 1.5em;
    width: auto;
}

svg[class*="-icon"] {
    display: block;
    height: 100%;
    width: auto;
}

.github-icon {
    margin-left: .2em;
    margin-right: .7em;
}

svg.font-awesome-icon {
    color: #538dd7;
}

.expressjs-icon {
    background-color: #314158;
}