.curtain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #020618;
    z-index: 499;
    pointer-events: none;
}

.curtain.top {
    top: 0;
}

.curtain.bottom {
    bottom: 0;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    opacity: 1;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
}

.bar1,
.bar2,
.bar3,
.bar4,
.bar5,
.bar6 {
    height: 100%;
    width: 8px;
    display: inline-block;
    margin-left: 2px;
    animation: delay 0.8s infinite ease-in-out;
}

.bar1 {
    background-color: #754fa0;
}

.bar2 {
    background-color: #09b7bf;
    animation-delay: -0.7s;
}

.bar3 {
    background-color: #90d36b;
    animation-delay: -0.6s;
}

.bar4 {
    background-color: #f2d40d;
    animation-delay: -0.5s;
}

.bar5 {
    background-color: #fcb12b;
    animation-delay: -0.4s;
}

.bar6 {
    background-color: #ed1b72;
    animation-delay: -0.3s;
}

@keyframes delay {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}